@charset "utf-8";
	.Livello_5
{
	background-image : url(Livello_5.png);
	background-repeat : no-repeat;
	width : 449px;
	height : 458px;
}
.Livello_4
{
	background-image : url(Livello_4.png);
	background-repeat : no-repeat;
	width : 297px;
	height : 129px;
}
.Livello_1_00000150089761606955742840000007738493678353836470_
{
	background-image : url(Livello_1_00000150089761606955742840000007738493678353836470_.png);
	background-repeat : no-repeat;
	width : 268px;
	height : 458px;
}
